body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Helvetica';
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 500px;
    padding: 10px;

}

#container>div {
    background-color: rgb(255, 255, 255);
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border: 1px dotted grey
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 35%;
    align-items: center;
    border: 10px solid rgb(189, 189, 189);
    border-radius: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

button {
    padding: 1em;
}

.slide{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1em;
    justify-content: center;
    height: fit-content;
}

.active {
    background-color: black;
    color: white;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
}

.options {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    border: 5px solid rgb(189, 189, 189);
    border-radius: 10px;
}